<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="#FFFFFF">
    <RelativeLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:visibility="visible"
        android:background="#FFFFFF">
        <ImageView
            android:src="@android:drawable/ic_menu_gallery"
            android:layout_width="match_parent"
            android:layout_height="150dp"
            android:id="@+id/imageViewGroup"
            android:layout_margin="5dp" />
        <View
            android:layout_width="match_parent"
            android:layout_height="1dp"
            android:background="#ff000000"
            android:id="@+id/viewline1"
            android:layout_below="@+id/imageViewGroup" />
        <TextView
            android:text="Medium Text"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/lblGroupName"
            android:layout_margin="8dp"
            android:textColor="#000000"
            android:layout_below="@+id/viewline1"
            android:textStyle="bold" />
        <TextView
            android:text="Group Members"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/lblGroupMember"
            android:layout_margin="8dp"
            android:textColor="#000000"
            android:layout_below="@+id/lblGroupName"
            android:textStyle="bold" />
        <View
            android:layout_width="match_parent"
            android:layout_height="1dp"
            android:background="#ff000000"
            android:id="@+id/viewline2"
            android:layout_below="@+id/lblGroupMember" />
        <TextView
            android:text="Group Admin:"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_margin="8dp"
            android:textColor="#000000"
            android:id="@+id/lblGroupAdmin"
            android:layout_below="@+id/viewline2" />
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:background="#FFFFFF"
            android:id="@+id/lnyAdminLayout"
            android:layout_below="@+id/lblGroupAdmin">
            <refractored.controls.CircleImageView
                android:layout_width="60dp"
                android:layout_height="60dp"
                android:id="@+id/imgAdmin"
                android:src="@drawable/noimages"
                android:layout_margin="5dp"
                android:layout_below="@+id/lblGroupName" />
            <TextView
                android:text="Group Members"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/lblGroupAdminName"
                android:textColor="#000000"
                android:layout_marginTop="10dp"
                android:layout_marginLeft="5dp" />
        </LinearLayout>
        <TextView
            android:text="Group Members:"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_margin="8dp"
            android:textColor="#000000"
            android:layout_below="@+id/lnyAdminLayout"
            android:id="@+id/lblGroupMembersTitle" />
        <ListView
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/listViewGroupMembers"
            android:layout_below="@+id/lblGroupMembersTitle"
            android:background="#ffffffff"
            android:layout_marginLeft="8dp"
            android:layout_marginRight="8dp"
            android:layout_marginTop="8dp" />
    </RelativeLayout>
</LinearLayout>