<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="#FFFFFF">
    <ScrollView
        android:id="@+id/scrollView"
        android:layout_width="fill_parent"
        android:layout_height="fill_parent">
        <RelativeLayout
            android:layout_width="fill_parent"
            android:layout_height="fill_parent">
            <ImageView
                android:id="@+id/imgGCHFL"
                android:layout_width="match_parent"
                android:layout_height="200dp"
                android:src="@drawable/landing"
                android:scaleType="fitXY"
                android:layout_marginBottom="10dp"
                android:layout_marginRight="5dp"
                android:layout_marginTop="5dp"
                android:layout_marginLeft="5dp" />
            <TextView
                android:layout_below="@+id/imgGCHFL"
                android:id="@+id/lblGroupNameGCHFL"
                android:text="GroupName sdfsdfds fssdfsd sdfds fdsfsd fddsfds fdsfdsf sddsfds f"
                android:layout_width="360dp"
                android:layout_height="wrap_content"
                android:textColor="#808080"
                android:textSize="22dp"
                android:textStyle="bold"
                android:layout_marginTop="5dp"
                android:layout_marginRight="8dp"
                android:layout_marginLeft="8dp"
                android:layout_marginBottom="5dp"
                android:paddingTop="8dp"
                android:paddingRight="5dp"
                android:paddingBottom="8dp"
                android:paddingLeft="5dp" />
            <Button
                android:layout_below="@+id/imgGCHFL"
                android:id="@+id/btnJoinGCHFL"
                android:background="@drawable/join"
                android:layout_width="wrap_content"
                android:layout_height="50dp"
                android:layout_alignParentRight="true"
                android:layout_marginTop="5dp"
                android:layout_marginLeft="5dp"
                android:layout_marginRight="5dp" />
            <TextView
                android:layout_below="@+id/lblGroupNameGCHFL"
                android:id="@+id/lblGroupDescriptionGCHFL"
                android:text="GroupDescription gfdgfdgfdg gdfgdf gdfgdf gdsfgds gds gsd g ds g ds gds"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:textColor="#808080"
                android:textSize="20dp"
                android:layout_marginTop="35dp"
                android:layout_marginBottom="15dp"
                android:layout_marginLeft="8dp"
                android:layout_marginRight="8dp"
                android:paddingTop="5dp"
                android:paddingRight="3dp"
                android:paddingBottom="5dp"
                android:paddingLeft="5dp" />
        </RelativeLayout>
    </ScrollView>
</RelativeLayout>