<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:id="@+id/lnyCreateNewEventLayout"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="#ff606060">
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:background="#ffffffff">
        <ImageView
            android:src="@drawable/logo"
            android:layout_width="200dp"
            android:layout_height="60dp"
            android:layout_gravity="left"
            android:id="@+id/imgLogoCEL"
            android:layout_centerHorizontal="true"
            android:layout_marginTop="8dp"
            android:layout_marginBottom="5dp"
            android:layout_marginLeft="5dp" />
    </LinearLayout>
    <TextView
        android:text="CREATE NEW EVENT"
        android:textAppearance="?android:attr/textAppearanceMedium"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/lblCreateNewEventTitle"
        android:layout_marginTop="2dp"
        android:textColor="#000000"
        android:background="#FFFFFF"
        android:textStyle="bold"
        android:typeface="normal"
        android:gravity="center_horizontal"
        android:textSize="25dp" />
    <LinearLayout xmlns:tools="http://schemas.android.com/tools"
        android:id="@+id/lnyEventMasterCNEL"
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:background="#FFFFFF"
        android:visibility="visible">
        <ScrollView
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/scrollViewCNEL">
            <LinearLayout
                android:id="@+id/rlyCreateNewEventLayout"
                android:orientation="vertical"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:layout_centerInParent="true"
                android:paddingBottom="30dp">
                <LinearLayout
                    android:orientation="horizontal"
                    android:layout_width="match_parent"
                    android:layout_height="50dp"
                    android:id="@+id/lnyImgGrpSearchCNEL"
                    android:background="@drawable/edittextborder"
                    android:layout_marginLeft="5dp"
                    android:layout_marginTop="10dp"
                    android:layout_marginRight="5dp"
                    android:layout_marginBottom="5dp">
                    <ImageView
                        android:src="@drawable/search_icon"
                        android:layout_width="50dp"
                        android:layout_height="50dp"
                        android:id="@+id/imgSearchGroupCNEL"
                        android:gravity="center_horizontal"
                        android:layout_gravity="center_horizontal"
                        android:layout_margin="5dp" />
                    <AutoCompleteTextView
                        android:inputType="text"
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:id="@+id/txtGroupNameCNEL"
                        android:hint="Group "
                        android:singleLine="true"
                        android:textAllCaps="false"
                        android:textColor="#000000"
                        android:textColorHint="#ffafafaf"
                        android:layout_toRightOf="@id/imgSearchGroupCNEL"
                        android:paddingLeft="8dp"
                        android:layout_marginTop="3dp"
                        android:paddingRight="8dp"
                        android:layout_marginRight="5dp"
                        android:textSize="22dp"
                        android:background="#FFFFFF"
                        android:layout_marginBottom="3dp" />
                </LinearLayout>
                <EditText
                    android:inputType="text"
                    android:layout_width="match_parent"
                    android:layout_height="50dp"
                    android:id="@+id/txtEventNameCNEL"
                    android:hint="Event name"
                    android:textAllCaps="false"
                    android:textColor="#000000"
                    android:textColorHint="#ffafafaf"
                    android:background="@drawable/Edittextborder"
                    android:layout_below="@+id/lnyImgGrpSearchCNEL"
                    android:paddingLeft="8dp"
                    android:paddingRight="8dp"
                    android:layout_margin="5dp"
                    android:textSize="22dp" />
                <EditText
                    android:inputType="textMultiLine"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/txtDescriptionCNEL"
                    android:hint="Description"
                    android:singleLine="false"
                    android:textAllCaps="false"
                    android:textColor="#000000"
                    android:textColorHint="#ffafafaf"
                    android:background="@drawable/Edittextborder"
                    android:layout_below="@+id/txtEventNameCNEL"
                    android:paddingLeft="8dp"
                    android:paddingRight="8dp"
                    android:minHeight="50dp"
                    android:layout_margin="5dp"
                    android:textSize="22dp" />
                <LinearLayout
                    android:orientation="horizontal"
                    android:layout_width="match_parent"
                    android:layout_height="50dp"
                    android:id="@+id/lnyEventdateCNEL"
                    android:layout_margin="5dp"
                    android:layout_below="@+id/txtDescriptionCNEL"
                    android:background="@drawable/edittextborder">
                    <EditText
                        android:inputType="date"
                        android:layout_width="520dp"
                        android:layout_height="match_parent"
                        android:id="@+id/txtEventDateCNEL"
                        android:hint="DD-MM-YYYY"
                        android:textAllCaps="false"
                        android:textColor="#000000"
                        android:textColorHint="#ffafafaf"
                        android:layout_marginTop="3dp"
                        android:layout_marginLeft="8dp"
                        android:textSize="22dp"
                        android:background="#FFFFFF"
                        android:layout_marginBottom="3dp" />
                    <Button
                        android:text="Date"
                        android:id="@+id/btnEventDateCNEL"
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:background="@drawable/custombuttonborder"
                        android:padding="5dp"
                        android:layout_margin="5dp"
                        android:textSize="22dp" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="horizontal"
                    android:layout_width="match_parent"
                    android:layout_height="50dp"
                    android:id="@+id/lnyEventStartTimeCNEL"
                    android:layout_margin="5dp"
                    android:layout_below="@+id/lnyEventdateCNEL"
                    android:background="@drawable/edittextborder">
                    <EditText
                        android:inputType="time"
                        android:layout_width="520dp"
                        android:layout_height="match_parent"
                        android:id="@+id/txtEventStartTimeCNEL"
                        android:hint="HH:MM"
                        android:textAllCaps="false"
                        android:textColor="#000000"
                        android:textColorHint="#ffafafaf"
                        android:layout_marginLeft="8dp"
                        android:layout_marginTop="3dp"
                        android:textSize="22dp"
                        android:background="#FFFFFF"
                        android:layout_marginBottom="3dp" />
                    <Button
                        android:text="Start Time"
                        android:id="@+id/btnAddStartTimeCNEL"
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:background="@drawable/custombuttonborder"
                        android:padding="5dp"
                        android:layout_margin="5dp"
                        android:textSize="22dp" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="horizontal"
                    android:layout_width="match_parent"
                    android:layout_height="50dp"
                    android:id="@+id/lnyEventEndTimeCNEL"
                    android:layout_margin="5dp"
                    android:layout_below="@+id/lnyEventStartTimeCNEL"
                    android:background="@drawable/edittextborder">
                    <EditText
                        android:inputType="time"
                        android:layout_width="520dp"
                        android:layout_height="match_parent"
                        android:id="@+id/txtEventEndTimeCNEL"
                        android:hint="HH:MM"
                        android:textAllCaps="false"
                        android:textColor="#000000"
                        android:textColorHint="#ffafafaf"
                        android:layout_marginLeft="8dp"
                        android:layout_marginTop="3dp"
                        android:textSize="22dp"
                        android:background="#FFFFFF"
                        android:layout_marginBottom="3dp" />
                    <Button
                        android:text="End Time"
                        android:id="@+id/btnAddEndTimeCNEL"
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:background="@drawable/custombuttonborder"
                        android:padding="5dp"
                        android:layout_margin="5dp"
                        android:textSize="22dp" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="vertical"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/lnyEventLogoCNEL"
                    android:layout_margin="5dp"
                    android:layout_below="@+id/lnyEventEndTimeCNEL"
                    android:background="@drawable/edittextborder">
                    <ImageView
                        android:src="@drawable/placeholder"
                        android:layout_width="250dp"
                        android:layout_height="250dp"
                        android:id="@+id/imgEventLogoCNEL"
                        android:layout_below="@+id/txtGroupNameCGL"
                        android:gravity="center_horizontal"
                        android:layout_gravity="center_horizontal"
                        android:layout_margin="5dp"
                        android:layout_centerInParent="true" />
                    <LinearLayout
                        android:orientation="horizontal"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:id="@+id/lnyEventBtnLblCNEL"
                        android:layout_margin="5dp">
                        <Button
                            android:text="Add Image"
                            android:layout_width="wrap_content"
                            android:layout_height="match_parent"
                            android:layout_margin="5dp"
                            android:id="@+id/btnChooseFileCNEL"
                            android:textColor="#000000"
                            android:background="@drawable/custombuttonborder"
                            android:textSize="22dp"
                            android:paddingRight="10dp"
                            android:paddingLeft="10dp" />
                        <Button
                            android:text="Camera"
                            android:layout_width="wrap_content"
                            android:layout_height="match_parent"
                            android:layout_margin="5dp"
                            android:id="@+id/btnCameraCNEL"
                            android:textColor="#000000"
                            android:background="@drawable/custombuttonborder"
                            android:textSize="22dp"
                            android:paddingRight="10dp"
                            android:paddingLeft="10dp" />
                    </LinearLayout>
                    <TextView
                        android:text="No Image Choosen"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="wrap_content"
                        android:layout_height="match_parent"
                        android:id="@+id/lblChoosenFileCNEL"
                        android:textColor="#3c9eff"
                        android:typeface="normal"
                        android:gravity="center_horizontal"
                        android:layout_margin="5dp"
                        android:textSize="22dp"
                        android:layout_gravity="center_horizontal" />
                </LinearLayout>
                <AutoCompleteTextView
                    android:inputType="textMultiLine"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:minHeight="50dp"
                    android:id="@+id/txtAddressCNEL"
                    android:hint="Address"
                    android:textAllCaps="false"
                    android:layout_margin="5dp"
                    android:textColor="#000000"
                    android:textColorHint="#ffafafaf"
                    android:background="@drawable/Edittextborder"
                    android:layout_below="@+id/lnyEventLogoCNEL"
                    android:paddingLeft="8dp"
                    android:paddingRight="8dp"
                    android:textSize="22dp" />
                <LinearLayout
                    android:orientation="horizontal"
                    android:layout_width="match_parent"
                    android:layout_height="50dp"
                    android:id="@+id/lnyEventTypeCNEL"
                    android:layout_margin="5dp"
                    android:layout_below="@+id/txtAddressCNEL"
                    android:background="@drawable/Edittextborder">
                    <TextView
                        android:text="Type of Event"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="wrap_content"
                        android:layout_height="match_parent"
                        android:id="@+id/lblEventTypeCNEL"
                        android:textColor="#000000"
                        android:typeface="normal"
                        android:layout_margin="5dp"
                        android:paddingLeft="8dp"
                        android:paddingRight="150dp"
                        android:textSize="22dp" />
                    <Spinner
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:id="@+id/spinnerEventTypeCNEL"
                        android:background="@drawable/spinnerborder"
                        android:layout_marginBottom="3dp"
                        android:paddingLeft="5dp" />
                </LinearLayout>
                <EditText
                    android:inputType="textUri"
                    android:layout_width="match_parent"
                    android:layout_height="50dp"
                    android:id="@+id/txtTicketUrlCNEL"
                    android:hint="Enter URL to buy tickets"
                    android:textAllCaps="false"
                    android:layout_margin="5dp"
                    android:textColor="#000000"
                    android:textColorHint="#ffafafaf"
                    android:background="@drawable/Edittextborder"
                    android:layout_below="@+id/lnyEventTypeCNEL"
                    android:paddingRight="8dp"
                    android:paddingLeft="8dp"
                    android:textSize="22dp" />
                <LinearLayout
                    android:orientation="horizontal"
                    android:layout_width="match_parent"
                    android:layout_height="50dp"
                    android:id="@+id/lnyActiveChkBoxCNEL"
                    android:layout_margin="5dp"
                    android:layout_below="@+id/txtTicketUrlCNEL">
                    <TextView
                        android:text="Active :"
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="wrap_content"
                        android:layout_height="match_parent"
                        android:id="@+id/lblActiveCNEL"
                        android:textColor="#000000"
                        android:typeface="normal"
                        android:layout_below="@+id/txtTicketUrlCNEL"
                        android:layout_marginLeft="5dp"
                        android:paddingLeft="8dp"
                        android:paddingTop="8dp"
                        android:textSize="25dp" />
                    <CheckBox
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:id="@+id/chkActiveCNEL"
                        android:textColor="#ffafafaf"
                        android:button="@xml/checkboxbutton"
                        android:layout_toRightOf="@id/lblActiveCNEL"
                        android:layout_below="@+id/txtTicketUrlCNEL"
                        android:layout_marginLeft="5dp" />
                </LinearLayout>
                <Button
                    android:text="Next"
                    android:layout_width="250dp"
                    android:layout_height="50dp"
                    android:layout_below="@+id/lnyActiveChkBoxCNEL"
                    android:id="@+id/btnNextCNEL"
                    android:layout_centerInParent="true"
                    android:background="@drawable/buttonborder"
                    android:textColor="#FFFFFF"
                    android:layout_gravity="center_horizontal"
                    android:layout_marginTop="20dp"
                    android:textSize="22dp" />
            </LinearLayout>
        </ScrollView>
    </LinearLayout>
    <LinearLayout
        android:id="@+id/lnyEventTagDetailsCNEL"
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:visibility="gone"
        android:background="#FFFFFF">
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="wrap_content"
            android:layout_height="60dp"
            android:id="@+id/lnyEventPublicityCNEL"
            android:layout_margin="10dp"
            android:layout_gravity="center_horizontal">
            <TextView
                android:text="Event Publicity :"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:id="@+id/lblEventPublicityCNEL"
                android:textColor="#000000"
                android:typeface="normal"
                android:layout_margin="5dp"
                android:paddingLeft="5dp"
                android:paddingRight="5dp"
                android:gravity="fill"
                android:textSize="22dp" />
            <Spinner
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:id="@+id/spinnerEventPublicityCNEL"
                android:background="@drawable/spinnerborder"
                android:paddingLeft="5dp"
                android:layout_margin="5dp" />
        </LinearLayout>
        <LinearLayout
            android:id="@+id/lnyContentCNEL"
            android:orientation="vertical"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:visibility="visible">
            <RelativeLayout
                android:orientation="vertical"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:background="#ffffffff">
                <TextView
                    android:text="Tag Groups"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/lblTagGroupsCNEL"
                    android:textColor="#000000"
                    android:typeface="normal"
                    android:gravity="fill"
                    android:textSize="25dp" />
                <View
                    android:id="@+id/viewLineTagGroupsCNEL"
                    android:layout_width="135dp"
                    android:layout_weight="2"
                    android:layout_height="3dp"
                    android:layout_marginTop="3dp"
                    android:background="#ff0a8cf0"
                    android:layout_below="@+id/lblTagGroupsCNEL"
                    android:visibility="gone" />
                <TextView
                    android:text="Tag Interest"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/lblTagInterestCNEL"
                    android:textColor="#000000"
                    android:typeface="normal"
                    android:gravity="fill"
                    android:textSize="25dp"
                    android:layout_toRightOf="@+id/lblTagGroupsCNEL"
                    android:layout_marginLeft="25dp" />
                <View
                    android:id="@+id/viewLineTagInterestCNEL"
                    android:layout_width="135dp"
                    android:layout_weight="2"
                    android:layout_height="3dp"
                    android:layout_marginTop="3dp"
                    android:background="#ff0a8cf0"
                    android:layout_toRightOf="@+id/lblTagGroupsCNEL"
                    android:layout_below="@+id/lblTagInterestCNEL"
                    android:layout_marginLeft="25dp" />
                <TextView
                    android:text="Tag Demographic"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/lblTagDemographicCNEL"
                    android:textColor="#000000"
                    android:typeface="normal"
                    android:gravity="fill"
                    android:textSize="25dp"
                    android:layout_toRightOf="@+id/lblTagInterestCNEL"
                    android:layout_marginLeft="25dp" />
                <View
                    android:id="@+id/viewLineTagDemographicCNEL"
                    android:layout_width="200dp"
                    android:layout_weight="2"
                    android:layout_height="3dp"
                    android:layout_marginTop="3dp"
                    android:background="#ff0a8cf0"
                    android:layout_toRightOf="@+id/lblTagInterestCNEL"
                    android:layout_below="@+id/lblTagDemographicCNEL"
                    android:layout_marginLeft="25dp" />
            </RelativeLayout>
            <View
                android:id="@+id/viewLineTagDemographicCNEL"
                android:layout_width="match_parent"
                android:layout_weight="2"
                android:layout_height="3dp"
                android:layout_marginTop="8dp"
                android:background="#ffcccccc" />
            <LinearLayout xmlns:tools="http://schemas.android.com/tools"
                android:orientation="horizontal"
                android:layout_width="match_parent"
                android:layout_height="50dp"
                android:id="@+id/lnyTagGroupOrInterestCNEL"
                android:layout_marginLeft="10dp"
                android:layout_marginRight="10dp"
                android:paddingRight="5dp"
                android:layout_marginTop="10dp">
                <TextView
                    android:text="Tag Interest :"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:id="@+id/lblTagGroupOrInterestCNEL"
                    android:textColor="#000000"
                    android:typeface="normal"
                    android:gravity="fill"
                    android:textSize="22dp"
                    android:layout_marginLeft="5dp" />
                <MultiAutoCompleteTextView
                    android:inputType="text"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:id="@+id/txtTagGroupOrInterestCNEL"
                    android:singleLine="true"
                    android:textAllCaps="false"
                    android:textColor="#000000"
                    android:textColorHint="#ffafafaf"
                    android:paddingLeft="5dp"
                    android:paddingRight="5dp"
                    android:background="@drawable/edittextborder"
                    android:layout_marginLeft="5dp"
                    android:textSize="22dp" />
            </LinearLayout>
            <RelativeLayout
                android:orientation="vertical"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/rlyTagDemographicCNEL"
                android:layout_margin="5dp">
                <RelativeLayout
                    android:orientation="vertical"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_centerInParent="true">
                    <TextView
                        android:text="Gender "
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="wrap_content"
                        android:layout_height="50dp"
                        android:id="@+id/lblGenderCNEL"
                        android:textColor="#000000"
                        android:typeface="normal"
                        android:gravity="fill"
                        android:textSize="22dp"
                        android:layout_margin="10dp" />
                    <Spinner
                        android:layout_width="wrap_content"
                        android:layout_height="50dp"
                        android:id="@+id/spinnerGenderCNEL"
                        android:background="@drawable/spinnerborder"
                        android:paddingLeft="5dp"
                        android:layout_toRightOf="@+id/lblGenderCNEL"
                        android:layout_marginLeft="40dp"
                        android:layout_marginTop="10dp"
                        android:layout_marginBottom="10dp" />
                    <TextView
                        android:text="People "
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="wrap_content"
                        android:layout_height="50dp"
                        android:id="@+id/lblPeopleCNEL"
                        android:textColor="#000000"
                        android:typeface="normal"
                        android:gravity="fill"
                        android:textSize="22dp"
                        android:layout_below="@+id/lblGenderCNEL"
                        android:layout_marginLeft="10dp"
                        android:layout_marginRight="10dp"
                        android:layout_marginBottom="10dp" />
                    <Spinner
                        android:layout_width="wrap_content"
                        android:layout_height="50dp"
                        android:id="@+id/spinnerPeopleCNEL"
                        android:background="@drawable/spinnerborder"
                        android:paddingLeft="5dp"
                        android:layout_toRightOf="@+id/lblPeopleCNEL"
                        android:layout_below="@+id/lblGenderCNEL"
                        android:layout_marginLeft="45dp"
                        android:layout_marginBottom="10dp" />
                    <TextView
                        android:text="Age Range "
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="wrap_content"
                        android:layout_height="50dp"
                        android:id="@+id/lblAgeRangeCNEL"
                        android:textColor="#000000"
                        android:typeface="normal"
                        android:gravity="fill"
                        android:textSize="22dp"
                        android:layout_below="@+id/lblPeopleCNEL"
                        android:layout_marginLeft="10dp"
                        android:layout_marginRight="10dp"
                        android:layout_marginBottom="10dp" />
                    <EditText
                        android:inputType="numberDecimal"
                        android:layout_width="wrap_content"
                        android:layout_height="50dp"
                        android:id="@+id/txtAgeFromCNEL"
                        android:hint="Age From"
                        android:singleLine="false"
                        android:textAllCaps="false"
                        android:textColor="#000000"
                        android:textColorHint="#ffafafaf"
                        android:background="@drawable/Edittextborder"
                        android:layout_below="@+id/lblPeopleCNEL"
                        android:paddingLeft="10dp"
                        android:paddingRight="10dp"
                        android:layout_toRightOf="@+id/lblAgeRangeCNEL"
                        android:textSize="22dp"
                        android:layout_marginLeft="10dp"
                        android:layout_marginRight="10dp"
                        android:layout_marginBottom="10dp" />
                    <EditText
                        android:inputType="numberDecimal"
                        android:layout_width="wrap_content"
                        android:layout_height="50dp"
                        android:id="@+id/txtAgeToCNEL"
                        android:hint="Age To"
                        android:singleLine="false"
                        android:textAllCaps="false"
                        android:textColor="#000000"
                        android:textColorHint="#ffafafaf"
                        android:background="@drawable/Edittextborder"
                        android:layout_below="@+id/lblPeopleCNEL"
                        android:paddingLeft="10dp"
                        android:paddingRight="10dp"
                        android:layout_toRightOf="@+id/txtAgeFromCNEL"
                        android:textSize="22dp"
                        android:layout_marginLeft="10dp"
                        android:layout_marginRight="10dp"
                        android:layout_marginBottom="10dp" />
                    <TextView
                        android:text="Location "
                        android:textAppearance="?android:attr/textAppearanceMedium"
                        android:layout_width="wrap_content"
                        android:layout_height="50dp"
                        android:id="@+id/lblLocationCNEL"
                        android:textColor="#000000"
                        android:typeface="normal"
                        android:gravity="fill"
                        android:textSize="22dp"
                        android:layout_below="@+id/lblAgeRangeCNEL"
                        android:layout_marginLeft="10dp"
                        android:layout_marginRight="10dp"
                        android:layout_marginBottom="10dp" />
                    <AutoCompleteTextView
                        android:inputType="text"
                        android:layout_width="match_parent"
                        android:layout_height="50dp"
                        android:id="@+id/txtlocationCNEL"
                        android:singleLine="true"
                        android:textAllCaps="false"
                        android:textColor="#000000"
                        android:textColorHint="#ffafafaf"
                        android:paddingLeft="10dp"
                        android:paddingRight="10dp"
                        android:background="@drawable/edittextborder"
                        android:layout_below="@+id/lblAgeRangeCNEL"
                        android:layout_toRightOf="@+id/lblLocationCNEL"
                        android:hint="Enter address..."
                        android:textSize="22dp"
                        android:layout_marginLeft="27dp"
                        android:layout_marginRight="10dp"
                        android:layout_marginBottom="10dp" />
                </RelativeLayout>
            </RelativeLayout>
        </LinearLayout>
        <LinearLayout
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:orientation="horizontal"
            android:layout_gravity="center_horizontal"
            android:layout_marginBottom="10dp"
            android:layout_marginTop="10dp">
            <Button
                android:layout_width="120dp"
                android:layout_height="50dp"
                android:id="@+id/btnBackCNEL"
                android:text="Back"
                android:textSize="22dp"
                android:background="@drawable/buttonborder"
                android:textColor="#ffffffff" />
            <Button
                android:layout_width="120dp"
                android:layout_height="50dp"
                android:id="@+id/btnSaveCNEL"
                android:text="Save"
                android:textSize="22dp"
                android:layout_marginLeft="5dp"
                android:background="@drawable/buttonborder"
                android:textColor="#ffffffff" />
        </LinearLayout>
    </LinearLayout>
</LinearLayout>