<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="#FFFFFF">
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/lnygrpImgFile"
        android:layout_margin="10dp"
        android:layout_below="@+id/txtDescription"
        android:background="@drawable/edittextborder"
        android:padding="10dp">
        <ImageView
            android:src="@drawable/placeholder"
            android:layout_width="200dp"
            android:layout_height="200dp"
            android:id="@+id/imgGroupProfile"
            android:layout_below="@+id/txtGroupName"
            android:gravity="center_horizontal"
            android:layout_gravity="center_horizontal"
            android:layout_margin="5dp"
            android:layout_centerInParent="true" />
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/lnygrpBtnLbl"
            android:layout_margin="5dp">
            <Button
                android:text="Choose Image"
                android:layout_width="wrap_content"
                android:layout_height="40dp"
                android:id="@+id/btnChooseFile"
                android:textColor="#000000"
                android:padding="10dp" />
            <TextView
                android:text="No Image Choosen"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:id="@+id/lblChoosenFile"
                android:textColor="#3c9eff"
                android:typeface="normal"
                android:gravity="center_horizontal" />
        </LinearLayout>
        <Button
            android:text="Camera"
            android:layout_width="wrap_content"
            android:layout_height="40dp"
            android:layout_margin="3dp"
            android:id="@+id/btnCamera"
            android:textColor="#000000"
            android:padding="10dp" />
    </LinearLayout>
    <EditText
        android:layout_width="match_parent"
        android:layout_height="50dp"
        android:textSize="14dp"
        android:textColor="#000000"
        android:id="@+id/txtimgTextPost"
        android:hint="Enter your post here..."
        android:layout_below="@+id/lnygrpImgFile"
        android:layout_marginLeft="5dp"
        android:layout_marginRight="5dp"
        android:layout_marginBottom="4dp"
        android:layout_marginTop="4dp"
        android:paddingLeft="4dp"
        android:textColorHint="#ffafafaf"
        android:background="@drawable/Edittextborder" />
    <Button
        android:text="Upload Photo"
        android:layout_width="wrap_content"
        android:layout_height="50dp"
        android:layout_margin="10dp"
        android:id="@+id/btnUploadImage"
        android:textColor="#FFFFFF"
        android:padding="10dp"
        android:textSize="16dp"
        android:background="@drawable/buttonborder"
        android:layout_below="@+id/txtimgTextPost"
        android:layout_centerHorizontal="true"
        android:layout_gravity="center_horizontal" />
</LinearLayout>